<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Admin Page</title>
    <link rel="stylesheet" href="/public/registeradmin.css">

    </head>
    <body>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>

        <div class="form-container">
        
            <form action="/defaultadmin/admin/signup" method="post">
                <h3>Admin Signup</h3>
                <div class="form_group">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Enter Firstname" required autocomplete="off">
                </div>
                <div class="form_group">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname" placeholder="Enter Lastname" required autocomplete="off">
                </div>
                <div class="form_group">
                    <label for="username">username</label>
                    <input type="email" id="username" name="username" placeholder="Enter Username" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Password" required>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <input type="text" name="role" id="role" placeholder="Enter Role" required>
                </div>

                <button type="submit" class=submit-btn"">signup</button>
            </form>
        </div>
    </body>
</html>

