<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/userpage.css">
    
  </head>
  <body>

          <!-- <h1><%= users %></h1> -->

    <div class="main_box">
      <input type="checkbox" id="check" />
      <div class="btn_one">
        <label for="check" >
          <i class="fa-solid fa-bars"></i>
        </label>
        <div class="welcome">
          <h1 style="color: white;">Welcome <%= users.firstname %> <%= users.lastname %></h1>
          <h3 style="color: wheat;">Role ( <%= users.role %> )</h3>
        </div>
      </div>
      
      
    
      <div class="sidebar_menu">
        <div class="logo">
          <a href="/user/userpage"><b>USER PAGE</b></a>
        </div>
        <div class="btn_two">
          <label for="check" >
            <i class="fa-solid fa-xmark"></i>
          </label>
        </div>

        <div class="menu">
          <ul>
            <li> 
              <a href="/user/userpage/create_receipt"><i class="fa-solid fa-file-invoice"></i></a>
              <a href="/user/userpage/create_receipt">CREATE RECEIPT</a>
            </li>
            <li>
              <a href="/user/userpage/edit_receipts"><i class="fa-solid fa-book"></i></a>
              <a href="/user/userpage/edit_receipts">ALL RECEIPTS</a>
            </li>
          </ul>
        </div>

        <div class="logout">
          <ul>
            <li>
              <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
              <a href="/logout">LOGOUT</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </body>
</html>

